################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

*.sqlite
*.lutdata
*.testlog
*.manifest
*.cache
*.txt
*.cache
*.pdb
*.cache
*.exe
*.csproj
*.csproj.user
AppRestaurant/.vs/AppRestaurant/v16/*.suo
AppRestaurant/.vs/AppRestaurant/v17/*.suo
AppRestaurant/AppRestaurant/obj/Debug/*.sqlite
AppRestaurant/AppRestaurant/obj/Debug/*.lutdata
AppRestaurant/AppRestaurant/obj/Debug/*.testlog
AppRestaurant/AppRestaurant/obj/Debug/*.manifest
AppRestaurant/AppRestaurant/obj/Debug/*.cache
AppRestaurant/AppRestaurant/obj/Debug/*.txt
AppRestaurant/AppRestaurant/obj/Debug/*.cache
AppRestaurant/AppRestaurant/obj/Debug/*.pdb
AppRestaurant/AppRestaurant/obj/Debug/*.cache
AppRestaurant/AppRestaurant/obj/Debug/*.exe
livrables finaux/dossier architecture logiciel/diagrammes uml/diagrammes de classe/Diagrammes de classe.vpp.bak_001d
livrables finaux/dossier architecture logiciel/diagrammes uml/diagrammes de classe/Diagrammes de classe.vpp.bak_000f
AppRestaurant/AppRestaurant/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AppRestaurant/AppRestaurant/obj/Debug/AppRestaurant.csprojAssemblyReference.cache
AppRestaurant/.vs/AppRestaurant/v16/.suo
AppRestaurant/AppRestaurantTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AppRestaurant/AppRestaurantTest/obj/Debug/AppRestaurantTest.csproj.AssemblyReference.cache
AppRestaurant/AppRestaurant/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AppRestaurant/AppRestaurant/obj/Debug/AppRestaurant.csproj.AssemblyReference.cache
AppRestaurant/AppRestaurant/AppRestaurant.csproj
AppRestaurant/AppRestaurant/AppRestaurant.csproj.user
AppRestaurant/.vs/AppRestaurant/v17/.suo
AppRestaurant/AppRestaurant/obj/Debug/
AppRestaurant/.vs/AppRestaurant/v17/
AppRestaurant/.vs/AppRestaurant/v16/
AppRestaurant\AppRestaurant\obj\Debug\
AppRestaurant\.vs\AppRestaurant\v17\
AppRestaurant\.vs\AppRestaurant\v16\

